.MainPage {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
  min-height: calc(100vh - 40px);
}

.MainPage-header {
  background-color: var(--color7);
  border-radius: 25px;
}

.MainPage-content {
  background-color: var(--color7);
  border-radius: 25px;
}