.TodoList {
  height: 100%; // или 100%, если родитель управляет размером
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 8px; // чтобы скролл не налезал
}
