.TodoList {
  display: flex;
  flex-direction: column;
}

.TodoListGroup {
  margin-top: 10px;
}

.TodoListGroupDate {
  color: var(--color2);
  justify-self: right;
  margin-right: 20px;

  &.overdue {
    color: red;
  }
}
