.TodoCard {
  background-color: var(--background-color);
  height: 120px;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
  gap: 5px;
  margin-top: inherit;
}

.TodoCardMain {
  display: grid;
  gap: 10px;
  grid-template-columns: 120px 1fr 120px 30px 30px;
  font-size: 20px;
  font-weight: bold;
}

.TodoCardMainPriority {
  background-color: transparent;
  //border: solid 1px #FF0000;
  //color: #FF0000;
  border-radius: 10px;

  &.high {
    border: solid 1px var(--priorityHigh);
    color: var(--priorityHigh);
  }

  &.low {
    border: solid 1px var(--priorityLow);
    color: var(--priorityLow);
  }

  &.medium {
    border: solid 1px var(--priorityMedium);
    color: var(--priorityMedium);
  }
}

.TodoCardMainButton {
  background-color: transparent;
  border: solid 1px var(--color5);
  color: var(--color5);
  transition: 0.2s;

  &:hover {
    border: solid 1px var(--greenLight);
    color: var(--greenLight);
  }
}

.TodoCardStatusDeleted {
  color: #FF0000;
}

.TodoCardStatusCompleted {
  color: var(--priorityLow);
}

.TodoCardMainDescription {
  justify-self: left;
  color: var(--color2);
}

.TodoCardMainTime {
  display: flex;
  gap: 10px;
  justify-self: left;
  align-items: center;
}
